*.sdf
*.docx
*.pdf
.DS_Store
__pycache__/
testing-notebook.ipynb
model_interpretation_old.ipynb
*.pptx
.vscode
image_pub/
manuscript/
v1/
v2/
v3/
v4/
v5/
usrcat/
*copy.ipynb
pyg_chemprop.py
pyg_chemprop_utils.py
extensions.json
reproduce_image/